
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_wrapper {
    display: grid;
    height: 80px;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 10;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nalo naph nabr"
    ;

}

#nav_logo {
    grid-area: nalo;
    background: green;
}



#nav_ham_icon {
    grid-area: nabr;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_line {
    background-color: blueviolet;
    width: 40px;
    height: 4px;
    margin: 5px;
    border-radius: 25%;
}

#line_1 {
    transform: translate(-40px, 0px);
    transform: translate(-49px, -9px);
    background-color: red;
}

#line_2 {
    opacity: 1;
    background-color: green;
}


#line_3 {
    background-color: blue;
    transform: translate(40px, 0px);
    transform: translate(40px, -39px);
}


#nav_placeholder {
    grid-area: naph;
    background-color: sandybrown;
}

.nav_list {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    right: -200px;
    top: 0px;
    background: salmon;
}


