
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









/* Nav Section - CSS */

.nav_wrapper {
    display: grid;
    height: 80px;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 10;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nalo naph nabr"
    ;

}

#nav_logo {
    grid-area: nalo;
    background:  #474B4F;
}



#nav_ham_icon {
    grid-area: nabr;
    background: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_line {
    background-color: rgb(209, 0, 209);
    width: 40px;
    height: 4px;
    margin: 5px;
    border-radius: 100%;
    transition: all 0.1s;
    z-index: 10;
}

.burger_toggle #line_1 {
    animation: line_1_animation 0.3s 1;
    transform: translate(2px, 14px) rotate(45deg);
}

.burger_toggle #line_2 {
    opacity: 0;
}


.burger_toggle #line_3 {
    animation: line_3_animation 0.3s 1;
    transform: translate(1px, -14px) rotate(-45deg);
}

@keyframes line_1_animation {
   0%  {transform: translate(0px, 0px) rotate(0deg);} 
   25% {transform: translate(-40px, 0px); opacity: 0;}
   90% {transform: translate(-40px, -20px) rotate(45deg); opacity: 0;}
   100% {transform: translate(2px, 14px) rotate(45deg)}
}

@keyframes line_3_animation {
    0% {transform: translate(0px, 0px) rotate(0deg);}
   25% {transform: translate(40px, 0px); opacity: 0;}
   90% {transform: translate(40px, -47px) rotate(-45deg); opacity: 0;}
   100% {transform: translate(1px, -14px) rotate(-45deg);}
}

#nav_placeholder {
    grid-area: naph;
    background-color: #474B4F;
}

.nav_list {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 50px;
    height: 100vh;
    width: 250px;
    right: -251px;
    top: 0px;
    z-index: 0;
    background: rgb(32, 32, 32);
    transition: all 0.3s;
    list-style-type: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav_link {
    color: rgb(209, 0, 209);
    text-decoration: none;
    font-size: 22px;
}

.list_toggle {
    transform: translateX(-250px);
}









/* Index Section - CSS */

.grid_wrapper_main {

    display: grid;
    height: 2000px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 900px 500px 200px 400px;
    grid-template-areas: 
    "mahe mahe"
    "mas1 mas2"
    "maar maar"
    "fowr fowr"
    ;

}


#header_flex_main {
    grid-area: mahe;
    background: #474B4F;
}


#section_1_main{
    grid-area: mas1;
    background: plum;
}

#section_2_main {
    grid-area: mas2;
    background: purple;
}

#article_main {
    grid-area: maar;
    background: lightcoral;
}









/* Shop Section - CSS */

.grid_wrapper_shop {

    display: grid;
    height: 1700px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 810px 400px;
    grid-template-areas: 
    "shhe"
    "shma"
    "fowr"
    ;

}

.header_shop {
    grid-area: shhe;
    background: lightblue;
}


.main_wrapper_shop {
    grid-area: shma;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 270px 270px 270px;
    grid-template-areas: 
    "shs1 shs2"
    "shs3 shs4"
    "shs5 shs6"
    ;

}

#section_1_shop {
    grid-area: shs1;
    background:  purple;
}

#section_2_shop {
    grid-area: shs2;
    background: indigo;
}

#section_3_shop {
    grid-area: shs3;
    background: rgb(32, 32, 32);
}

#section_4_shop {
    grid-area: shs4;
    background: #474B4F;
}

#section_5_shop {
    grid-area: shs5;
    background: #6b6e70;
}

#section_6_shop {
    grid-area: shs6;
    background: rgb(209, 0, 209);
}









/* Team Section - css */

.grid_wrapper_team {

    display: grid;
    height: 1800px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 800px 600px 400px;
    grid-template-areas: 
    "tehe"
    "tema"
    "fowr"
    ;

}

.header_team {
    grid-area: tehe;
    background: lightblue;
}


.main_wrapper_team {
    grid-area: tema;
    background: rgb(255, 255, 184);
}

.main_wrapper_team {
    grid-area: tema;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "tes1 tes2 tes3"
    "tes4 tes5 tes6"
    ;

}

#section_1_team {
    grid-area: tes1;
    background:  purple;
}

#section_2_team {
    grid-area: tes2;
    background: indigo;
}

#section_3_team {
    grid-area: tes3;
    background: rgb(32, 32, 32);
}

#section_4_team {
    grid-area: tes4;
    background: #474B4F;
}

#section_5_team {
    grid-area: tes5;
    background: #6b6e70;
}

#section_6_team {
    grid-area: tes6;
    background: rgb(209, 0, 209);
}









/* News Section - CSS */

.grid_wrapper_news {

    display: grid;
    height: 1820px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 600px 300px 200px 200px 400px;
    grid-template-areas: 
    "nehe nehe nehe"
    "nema nema nema"
    "nea1 nea2 nea3"
    "nes3 nes3 nes3"
    "nes4 nes4 nes4"
    "fowr fowr fowr"
    ;

}


#header_flex_news {
    grid-area: nehe;
    background: #474B4F;
}

.main_wrapper_news {
    grid-area: nema;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    grid-template-areas: 
    "nes1 nes2"
    ;

}

#section_1_news {
    grid-area: nes1;
    background: purple;
}

#section_2_news {
    grid-area: nes2;
    background: lightcoral;
}

#article_1_news {
    grid-area: nea1;
    background: plum;
}

#article_2_news {
    grid-area: nea2;
    background: purple;
}

#article_3_news {
    grid-area: nea3;
    background: lightcoral;
}

#section_3_news {
    grid-area: nes3;
    background: purple;
}

#section_4_news {
    grid-area: nes4;
    background: lightcoral;
}









/* About Us Section - CSS */


.grid_wrapper_about {

    display: grid;
    height: 2300px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 400px 400px 600px 400px;
    grid-template-areas: 
    "abhe"
    "abs1"
    "abs2"
    "abs3"
    "fowr"
    ;

}

.header_about {
    grid-area: abhe;
    background: lightblue;
}

#section_1_about {
    grid-area: abs1;
    background:  purple;
}

#section_2_about {
    grid-area: abs2;
    background: indigo;
}

#section_wrapper_about {
    grid-area: abs3;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
    "aba1 aba2"
    "aba3 aba4"
    ;

}

#article_1_about {
    grid-area: aba1;
    background: rgb(32, 32, 32);
}

#article_2_about {
    grid-area: aba2;
    background: #474B4F;
}

#article_3_about {
    grid-area: aba3;
    background: #6b6e70;
}

#article_4_about {
    grid-area: aba4;
    background: rgb(209, 0, 209);
}









/* Fanclub Section - CSS */

.grid_wrapper_fanclub {

    display: grid;
    height: 2100px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 900px 300px 100px 400px 400px;
    grid-template-areas: 
    "fahe fahe"
    "faa1 faa2"
    "fadi fadi"
    "fase fase"
    "fowr fowr"
    ;

}

.header_fanclub {
    grid-area: fahe;
    background: lightblue;
}

#article_1_fanclub {
    grid-area: faa1;
    background: rgb(32, 32, 32);
}

#article_2_fanclub {
    grid-area: faa2;
    background: #adadad;
}

#div_1_fanclub {
    grid-area: fadi;
    background: #adadad;
}

#section_wrapper_fanclub {
    grid-area: fase;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas: 
    "faa3 faa4 faa5"
    ;

}

#article_3_fanclub {
    grid-area: faa3;
    background: rgb(32, 32, 32);
}

#article_4_fanclub {
    grid-area: faa4;
    background: #adadad;
}

#article_5_fanclub {
    grid-area: faa5;
    background: #6b6e70;
}









/* Footer Section - CSS */

.footer_wrapper {

    grid-area: fowr;
    display: grid;
    height: 400px;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr 1fr minmax(80px, 1fr);
    grid-template-rows: 100px 240px 80px;
    grid-template-areas: 
    "foar foar foar"
    "fose fose fose"
    "foas foas fodi"
    ;

}


#footer_article {
    grid-area: foar;
    background: green;

}


#footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 50px;
    grid-area: fose;
    background: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#footer_aside {
    grid-area: foas;
    background: purple;
}


#footer_div{
    grid-area: fodi;
    background: plum;
}

#footer_section ul {
    list-style-type: none;
    
}

#footer_section ul li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

